@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GT+Sectra+Display:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/tt-commons-pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 251 39% 13%;

    --card: 0 0% 100%;
    --card-foreground: 251 39% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 251 39% 13%;

    --primary: 251 64% 57%;
    --primary-foreground: 0 0% 100%;

    --secondary: 251 48% 92%;
    --secondary-foreground: 251 39% 13%;

    --muted: 251 48% 92%;
    --muted-foreground: 251 10% 54%;

    --accent: 251 48% 92%;
    --accent-foreground: 251 39% 13%;

    --destructive: 0 84% 43%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 3% 92%;
    --input: 240 3% 92%;
    --ring: 251 64% 57%;

    --radius: 0px;

    --color-primary-100: 251 71% 97%;
    --color-primary-200: 251 48% 92%;
    --color-primary-300: 251 48% 92%;
    --color-primary-400: 251 48% 92%;
    --color-primary-500: 251 64% 57%;
    --color-primary-600: 251 64% 57%;
    --color-primary-700: 251 52% 46%;
    --color-primary-800: 251 39% 34%;
    --color-primary-900: 251 39% 13%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 251 39% 13%;
      --foreground: 0 0% 100%;

      --card: 251 39% 13%;
      --card-foreground: 0 0% 100%;

      --popover: 251 39% 13%;
      --popover-foreground: 0 0% 100%;

      --primary: 251 64% 57%;
      --primary-foreground: 0 0% 100%;

      --secondary: 251 39% 34%;
      --secondary-foreground: 0 0% 100%;

      --muted: 251 39% 34%;
      --muted-foreground: 251 10% 54%;

      --accent: 251 39% 34%;
      --accent-foreground: 0 0% 100%;

      --destructive: 0 84% 43%;
      --destructive-foreground: 0 0% 100%;

      --border: 251 39% 34%;
      --input: 251 39% 34%;
      --ring: 251 64% 57%;

      --radius: 0px;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-['TT_Commons_Pro'];
  }

  h1.title {
    @apply font-['GT_Sectra_Display'];
  }
}