@import url('https://use.typekit.net/xtg8ggt.css');
@import url('https://fonts.cdnfonts.com/css/tt-commons-pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-100: #f3f1fb;
    --color-primary-200: #e4dff6;
    --color-primary-300: #d5cdf2;
    --color-primary-400: #9887de;
    --color-primary-500: #7a64d5;
    --color-primary-600: #6b52d0;
    --color-primary-700: #513bac;
    --color-primary-800: #3f317b;
    --color-primary-900: #2a2051;
    --color-neutral-50: #fafafa;
    --color-neutral-100: #f5f5f5;
    --color-neutral-200: #ececed;
    --color-neutral-300: #d5d5d8;
    --color-neutral-400: #bebdc2;
    --color-neutral-500: #a7a6ac;
    --color-neutral-600: #706d78;
    --color-neutral-700: #4b4855;
    --color-neutral-800: #1d1929;
    --color-neutral-900: #161320;

    --background: 0 0% 100%;
    --foreground: 251 39% 13%;
    --card: 0 0% 100%;
    --card-foreground: 251 39% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 251 39% 13%;
    --primary: 251 64% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 251 48% 92%;
    --secondary-foreground: 251 39% 13%;
    --muted: 251 48% 92%;
    --muted-foreground: 251 10% 54%;
    --accent: 251 48% 92%;
    --accent-foreground: 251 39% 13%;
    --destructive: 0 84% 43%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 3% 92%;
    --input: 240 3% 92%;
    --ring: 251 64% 57%;
    --radius: 0px;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 251 39% 13%;
      --foreground: 0 0% 100%;
      --card: 251 39% 13%;
      --card-foreground: 0 0% 100%;
      --popover: 251 39% 13%;
      --popover-foreground: 0 0% 100%;
      --primary: 251 64% 57%;
      --primary-foreground: 0 0% 100%;
      --secondary: 251 39% 34%;
      --secondary-foreground: 0 0% 100%;
      --muted: 251 39% 34%;
      --muted-foreground: 251 10% 54%;
      --accent: 251 39% 34%;
      --accent-foreground: 0 0% 100%;
      --destructive: 0 84% 43%;
      --destructive-foreground: 0 0% 100%;
      --border: 251 39% 34%;
      --input: 251 39% 34%;
      --ring: 251 64% 57%;
      --radius: 0px;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-['tt_commons_pro'];
  }

  h1.title {
    @apply font-['gt_sectra'];
  }
}
